RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 
ErrorDocument 404 /thenewcart/error404.html
ErrorDocument 403 /thenewcart/error404.html